<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">

    <div class="navbar-text">
        <a href="https://www.github.com/klyngen/keis/issues" class="justify-content-right"><i class="fa fa-heart"></i> to hear about any issues</a>
    </div>
    <div class="navbar-expand m-auto navbar-text">
        <a href="https://www.github.com/klyngen/keis">Please feel free to contribute <i class="fa fa-github"></i></a>
    </div>
    <div class="navbar-text navbar-right">
        Hope you enjoy the software. Best regards from Klyngen
    </div>
</nav>
