<div class="add-user side-divider">
    <ng-container *ngIf="_newUser">
        <h3>New user</h3>
    </ng-container>

    <ng-container *ngIf="!_newUser">
        <h3>Update user</h3>
    </ng-container>

    <div class="form-group">
        <label for="">Studentnumber</label>
        <input (keyup)="verifyNumber(number.model)" name="studentnumber" [(ngModel)]="_studentNumber" #number="ngModel" required class="form-control"  type="text" value=""/>
    </div>
    <div [hidden]="!_userExist" class="alert alert-danger">
        <b>Number in use</b> this number is already in use
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input name="email" [(ngModel)]="_email" #email="ngModel" required class="form-control" type="email" value=""/>
    </div>

    <div class="form-group">
        <label for="">Name</label>
        <input name="name" [(ngModel)]="_name" #name="ngModel" required class="form-control" type="text" value=""/>
    </div>

    <div class="form-group">
        <label for="">RFID(optional)</label>
        <input #studentRFID="ngModel" [(ngModel)]="_studentRfid" type="text" class="form-control">
    </div>

    <div [hidden]="verify()" class="alert alert-info">
        <b>Info</b> all fields has to be filled to be able to submit
    </div>
    <button [disabled]="!verify()" (click)="submit()" class="btn btn-primary btn-block"><fa name="floppy-o"></fa> Submit</button>
</div>
