<div class="edit-equipment">


  <ng-container *ngIf="!loaded">
    <p class="lead">
      <fa name="mouse-pointer"></fa> Click on an element in the table to edit the equipment
    </p>
  </ng-container>


  <ng-container *ngIf="loaded">

  </ng-container>

  <div class="blurrable" [ngClass]="{'unloaded': !loaded}">

      <ng-container *ngIf="_new">
          <h3>New equipment</h3>
      </ng-container>

      <ng-container *ngIf="!_new">
          <h3>Edit equipment</h3>
      </ng-container>

    <div class="form-group">
      <label for="">Model</label>
      <input #model (keyup)="setModel(model.value)" class="form-control" name="" type="text" value="{{_model}}" placeholder="Model..." />
    </div>

    <div class="form-group">
      <drop-down-input [alternatives]="_brandAlternatives" [(value)]="_brand" placeholder="Brand..." label="Brand"></drop-down-input>
    </div>

    <div class="form-group">
      <drop-down-input [alternatives]="_typeAlternatives" [(value)]="_type" label="Type" placeholder="Type..."></drop-down-input>
    </div>

    <div class="form-group">
      <label for="">Description</label>
      <textarea #description (keyup)="setDescription(description.value)" class="form-control" [(value)]="_description" id="" name="" rows="3">
      </textarea>
    </div>

    <button (click)="cancel()" class="btn btn-danger"><fa name="times"></fa> Cancel</button>
        <button (click)="save()" class="btn btn-success pull-right"><fa name="floppy-o"></fa> Save</button>
  </div>

</div>

