
.new-button {
    margin-bottom: 30px;
}

.side-divider {
    border-left-style: solid;
    padding: 25px;
    border-left-width: 2px;
    border-color: rgba(0, 0, 0, 0.6);
}

.jumbotron.jumbotron-fluid.titletron {
    background-image: url('../../assets/bluedrop.svg');
}