<div class="jumbotron jumbotron-fluid titletron">
  <div class="container">
    <h1 class="display-4"><fa name="wrench"></fa> Equipment</h1>
    <p class="lead">
      Add, delete and modify equipment and intances
    </p>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Table column -->
        <div class="col-md-8">
            <div class="table-column">
                <button (click)="newEquipment()" class="btn btn-primary btn-block new-button"><fa name="plus"></fa> New Equipment</button>
                <dynamic-table [reloadTrigger]="tableTrigger" class="equipment-table" (clicked)="rowClicked($event)" [data]="equipment"></dynamic-table>
            </div>
        </div>

        <!-- Info column -->
        <div class="col-md-4">
            <div class="edit-column" style="height: 65vh; overflow-y: scroll">
                <edit-equipment [refresh]="refreshTrigger" (receivedEquipment)="addElement($event)" [(newEquipment)]="_new" [data]="selected"></edit-equipment>
                <ng-container *ngIf="selected">
                    <delete-equipment [equipment]="_singleData" (clicked)="delete()" [refresh]="refreshTrigger"></delete-equipment>
                    <instance-add (submit)="newInstance($event)"></instance-add>
                    <equipment-status [data]="_singleData"></equipment-status>
                    <delete-instance [trigger]="refreshTrigger"></delete-instance>
                    <delete-all-instances [trigger]="refreshTrigger" [equipment]="_singleData"></delete-all-instances>
                </ng-container>
            </div>

        </div>
    </div>
</div>
