<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/"><b>K</b>EIS <b>E</b>quipment <b>I</b>ndexing <b>S</b>ystem</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <ng-container *ngFor="let item of router.config">
                <ng-container *ngIf="item.data">
                    <a class="nav-item nav-link"  routerLinkActive="active" routerLink="/{{item.path}}"> <fa name="{{item.data.icon}}"></fa> {{item.data.title}}</a>
                </ng-container>
            </ng-container>
            <a alert class="nav-item nav-link"></a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/klyngen/keis" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
                <i class="fa fa-medium"></i>
            </a>
        </div>
    </div>
</nav>
