<div class="jumbotron jumbotron-fluid titletron">
    <div class="container">
        <h1 class="display-4"><fa name="exchange"></fa> Rent</h1>
        <p class="lead">
            This is the place for handling the rents
        </p>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <dynamic-table [observeData]="_dataSubject" (clicked)="clicked($event)" ></dynamic-table>
            
        </div>

        <div class="col-md-4  rentData">
            <div [ngClass]="{'unloaded': !loaded}">
                <add-rent [refreshTrigger]="_refreshTrigger"></add-rent>
                <delete-rent [refreshTrigger]="_refreshTrigger"></delete-rent>
                <rent-stats></rent-stats>
            </div>
        </div>
    </div>
</div>
